<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>avaliações</title>
    <link rel="stylesheet" href="../static/css/avaliações.css">
</head>
<body>
    <main>
        <header class="header1">
            <div class="logo">
              <img src="../static/img/logo.png" alt="" class="logo1" />
            </div>
            <div class="header2">
              <a class="header_inf" href="./assessment.html">Avaliações</a>
              <a class="header_inf" href="./relatiorio.html">Relatórios</a>
              <a class="header_inf" href="./normaAV.html"
                >Normas <br />
                Avaliação</a
              >
              <a class="header_inf" href="./sobre.html">Sobre</a>
              <a class="login" href="entrar.html">Entrar</a>
            </div>
          </header>
          <section>
            <div class="section-title">
              <h1>Avaliações</h1>
            </div>
            <section class="sectionmidle">
              <div class="container">
                <div class="section-card1">
                    <div class="img1">
                        <img src="../static/img/img_card1.png">
                    </div>
                    <div class="title1">
                        <h1>Avaliação da Antropometria e   Composição Corporal</h1>
                    </div>
                    <div class="desc">
                        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, dolore? Officiis aliquam inventore dolorum omnis cumque sequi, deleniti vero provident vel nemo officia dolor odit, doloribus error. Voluptates, iste nemo?</h3>
                    
                        <div class="card-button">
                          <button class="card-select">Avalie</button>
                      </div>  </div>
                </div>
                <div class="section-card2">
                  <div class="img2">
                      <img src="../static/img/img_card2.png">
                  </div>
                  <div class="title1">
                      <h1>Avaliação IMC</h1>
                  </div>
                  <div class="desc">
                      <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, dolore? Officiis aliquam inventore dolorum omnis cumque sequi, deleniti vero provident vel nemo officia dolor odit, doloribus error. Voluptates, iste nemo?</h3>
                      <div class="card-button">
                          <button class="card-select">Avalie</button>
                      </div>
                  </div>
                </div>
                <div class="section-card3">
                  <div class="img3">
                      <img src="../static/img/img_card3.png">
                  </div>
                  <div class="title1">
                      <h1>Avaliação abnominais</h1>
                  </div>
                  <div class="desc">
                      <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, dolore? Officiis aliquam inventore dolorum omnis cumque sequi, deleniti vero provident vel nemo officia dolor odit, doloribus error. Voluptates, iste nemo?</h3>
                      <div class="card-button">
                          <button class="card-select">Avalie</button>
                      </div>
                  </div>
                </div>
              </div>
            </section>
          </section>
    </main>
</body>
</html>